.ec-store-block-cart-page .image {
  background: url( '../../images/gutenberg/cart-page-preview.png') 50% 50% no-repeat;
  background-size: 216px 80px;
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom: 0;
}