.ec-store-block-filters-page {
  min-height: 330px;
}

.ec-store-block-filters-page .image {
  background: url( '../../images/gutenberg/filter-preview.png') 50% 50% no-repeat;
  background-size: 432px 280px;
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom: 0;
}
