.ec-store-block-search {
  min-width: 500px;
  background: none;
  position: relative;
}

.ec-store-block-search .image {
  background: url( '../../images/gutenberg/search-preview.png') 50% 50% no-repeat;
  background-size: 500px 48px;
  position: absolute;
  height: 48px;
  left:0;
  top:0;
  right:0;
  bottom:0;
}